<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 ,user-scalable=no">

    <title>Document</title>
  </head>
  <body>
    <h4>Administrator: <1?></h4>

    <table style="width: 100%; border: 2px solid; margin: 0; padding: 0;" cellspacing=0>
      <tr>
        <th colspan="2" style="border: 0.1px solid; margin: 0; padding: 5;">Name and last name</th>
        <th style="border: 0.1px solid; margin: 0; padding: 5;">Phone</th>
        <th style="border: 0.1px solid; margin: 0; padding: 5;">Direction</th>
        <th style="border: 0.1px solid; margin: 0; padding: 5;">City</th>
      </tr>
      <2?>
    </table>
  </body>
</html>

    

