<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 ,user-scalable=no">

    <title>Document</title>
  </head>
  <body>
    <table style="width: 100%; max-width: 600px; padding: 10px; margin: 0 auto; border-collapse: collapse;">
      <tr>
        <td style="background-color: #ecf0f1; text-align: left; padding: 0;">
          <a href="#"><img width="20%" style="display: block; margin: 1.5% 3%;" src="https://s8.postimg.cc/b4d0n3051/image.jpg" /></a>
        </td>
      </tr>
      <tr>
        <td style="background-color: #ecf0f1;">
          <div style="color: #34495e; margin: 4% 10% 2%; text-align: justify; font-family: sans-serif;">
            <h2 style="color: #e67e22; margin: 0 0 7px"><1?></h2>
            <p style="margin: 2px; font-size: 15px">
              <2?>
            </p>
            <br /><br />
            <div style="width: 100%; text-align: center;">
              <a style="text-decoration: none; border-radius: 5px; padding: 11px 23px; color: white; background-color: #3498db;" href="#">Hola Mundo</a>
            </div>
            <p style="color: #b3b3b3; font-size: 12px; text-align: center; margin: 30px 0 0">Hola Mundo</p>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>

    

