<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 ,user-scalable=no">

    <title>Document</title>
  </head>
  <body>
    <table style="width: 100%; max-width: 600px; padding: 10px; margin: 0 auto; border-collapse: collapse;">
      <tr>
        <td style="background-color: #ecf0f1; text-align: left; padding: 0;">
          <a href="#"><img width="20%" style="display: block; margin: 1.5% 3%;" src="https://s8.postimg.cc/b4d0n3051/image.jpg" /></a>
        </td>
      </tr>
      <tr>
        <td style="padding: 0;">
          <img width="100% style="padding: 0; display: block;" src="https://s8.postimg.cc/b4d0n3051/image.jpg" />
        </td>
      </tr>
      <tr>
        <td style="background-color: #ecf0f1;">
          <div style="color: #34495e; margin: 4% 10% 2%; text-align: justify; font-family: sans-serif;">
            <h2 style="color: #e67e22; margin: 0 0 7px">Hola Mundo</h2>
            <p style="margin: 2px; font-size: 15px">
              Hola Mundo
            </p>
            <ul style="font-size: 15px; margin: 10px 0">
              <li>Data #1</li>
              <li>Data #2</li>
              <li>Data #3</li>
            </ul>
            <div style="width: 100%; margin: 20px 0; display: inline-block; text-align: center;">
              <img style="padding: 0; width: 200px; margin: 5px;" src="https://s8.postimg.cc/b4d0n3051/image.jpg" />
              <img style="padding: 0; width: 200px; margin: 5px;" src="https://s8.postimg.cc/b4d0n3051/image.jpg" />
            </div>
            <div style="width: 100%; text-align: center;">
              <a style="text-decoration: none; border-radius: 5px; padding: 11px 23px; color: white; background-color: #3498db;" href="#">Hola Mundo</a>
            </div>
            <p style="color: #b3b3b3; font-size: 12px; text-align: center; margin: 30px 0 0" href="#">Hola Mundo</p>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>

    

